@font-face {
  font-family: 'trestle';
  src:  url('../fonts/trestle.eot?gq2yr8');
  src:  url('../fonts/trestle.eot?gq2yr8#iefix') format('embedded-opentype'),
    url('../fonts/trestle.ttf?gq2yr8') format('truetype'),
    url('../fonts/trestle.woff?gq2yr8') format('woff'),
    url('../fonts/trestle.svg?gq2yr8#trestle') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="trestle-icon"], [class*=" trestle-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'trestle' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.trestle-iconmenu-icon:before {
  content: "\e940";
}
.trestle-iconuser-register:before {
  content: "\e93f";
}
.trestle-iconpassword:before {
  content: "\e93e";
}
.trestle-iconuser:before {
  content: "\e90c";
}
.trestle-iconDiagonal-arrow:before {
  content: "\e93b";
}
.trestle-iconsquare-icon:before {
  content: "\e93c";
}
.trestle-iconplay:before {
  content: "\e93a";
}
.trestle-iconscreen:before {
  content: "\e937";
}
.trestle-iconfile:before {
  content: "\e938";
}
.trestle-iconhead-set-light:before {
  content: "\e939";
}
.trestle-iconnews:before {
  content: "\e934";
}
.trestle-iconcalender:before {
  content: "\e935";
}
.trestle-iconarrow-light:before {
  content: "\e936";
}
.trestle-iconbussiness:before {
  content: "\e930";
}
.trestle-iconbussiness2:before {
  content: "\e931";
}
.trestle-iconbussiness3:before {
  content: "\e932";
}
.trestle-iconbussiness4:before {
  content: "\e933";
}
.trestle-iconarrow-down:before {
  content: "\e900";
}
.trestle-iconarrow-left:before {
  content: "\e901";
}
.trestle-iconarrow-next:before {
  content: "\e902";
}
.trestle-iconarrow-right:before {
  content: "\e903";
}
.trestle-iconcart:before {
  content: "\e904";
}
.trestle-iconcart-icon:before {
  content: "\e905";
}
.trestle-iconcomment:before {
  content: "\e906";
}
.trestle-iconcommingSoon:before {
  content: "\e907";
}
.trestle-iconcompare:before {
  content: "\e908";
}
.trestle-icondata:before {
  content: "\e909";
}
.trestle-icondevelopment-icon:before {
  content: "\e90a";
}
.trestle-icondown-arrow:before {
  content: "\e90b";
}
.trestle-iconemail:before {
  content: "\e93d";
}
.trestle-iconeye:before {
  content: "\e90d";
}
.trestle-iconfacebook:before {
  content: "\e90e";
}
.trestle-icongears-icon:before {
  content: "\e90f";
}
.trestle-icongoogle-icon:before {
  content: "\e910";
}
.trestle-icongooglePlus:before {
  content: "\e911";
}
.trestle-icongrid:before {
  content: "\e912";
}
.trestle-iconheadset-icon:before {
  content: "\e913";
}
.trestle-iconheart:before {
  content: "\e914";
}
.trestle-iconinstagram:before {
  content: "\e915";
}
.trestle-iconinstagram-icon:before {
  content: "\e916";
}
.trestle-iconlamp-icon:before {
  content: "\e917";
}
.trestle-iconlink:before {
  content: "\e918";
}
.trestle-iconlinkedIn:before {
  content: "\e919";
}
.trestle-iconlinkedin-icon:before {
  content: "\e91a";
}
.trestle-iconlist:before {
  content: "\e91b";
}
.trestle-iconmap-icon:before {
  content: "\e91c";
}
.trestle-iconmobileApp-icon:before {
  content: "\e91d";
}
.trestle-iconphone:before {
  content: "\e91e";
}
.trestle-iconphone-icon:before {
  content: "\e91f";
}
.trestle-iconpinterest:before {
  content: "\e920";
}
.trestle-iconprice:before {
  content: "\e921";
}
.trestle-iconprint:before {
  content: "\e922";
}
.trestle-iconquote-left-light:before {
  content: "\e923";
}
.trestle-iconquote-right-light:before {
  content: "\e924";
}
.trestle-iconrocket-icon:before {
  content: "\e925";
}
.trestle-iconsearch-icon:before {
  content: "\e926";
}
.trestle-iconshare:before {
  content: "\e927";
}
.trestle-iconshare-icon:before {
  content: "\e928";
}
.trestle-icontags:before {
  content: "\e929";
}
.trestle-icontags-light:before {
  content: "\e92a";
}
.trestle-icontwitter:before {
  content: "\e92b";
}
.trestle-icontwitter-icon:before {
  content: "\e92c";
}
.trestle-iconvision-icon:before {
  content: "\e92d";
}
.trestle-iconwebDesign-icon:before {
  content: "\e92e";
}
.trestle-iconwhatapp-icon:before {
  content: "\e92f";
}
